{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultats de la búsqueda | Biblioteca Mari Carmen Brito</title>
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="stylesheet" href="{% static 'input.css' %}"
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
</head>
<body>
    {% include 'myapp/messages.html' %}
    <div class="container min-w-full">
        {% include 'myapp/header.html'%}
    </div>
    <div>
        <div>
            <div class="w-full py-2 lg:py-4 md:ml-auto p-12 lg:p-32">
                <h1 class="text-3xl font-bold mt-4 pl-8 text-[#bd1e59] mb-2">Resultats de la cerca: "{{ query }}"</h1>
                <p class="mb-8 pl-8">S'han trobat {{ resultados.paginator.count }} resultats: </p>

                <div class="container flex">
                    <div class="filter-search w-3/12 border p-8 mt-8 ml-8 sticky top-12 h-min shadow rounded-xl [text-shadow:_1px_1px_1px_rgb(0_0_0_/_30%)] " style="overflow-y: scroll; max-height: calc(90vh);">
                        <h3 class="text-2xl font-bold text-[#bd1e59] mb-4">Cerca avançada</h3>
                        <!-- Buscar solo por tipo de items: -->
                        <hr class="border border-[#bd1e59] mt-2 mb-2"> 
                        <form class="mb-4" action=""> <!-- Esto sera  un form -->
                            <div class="items">
                                <button type="button" class="flex justify-between items-center w-full" onclick="showMore(event)">
                                    <span class="text-lg"> Tipo </span>
                                    <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                                    </svg>
                                </button>
                                <div class="dropdown-content hidden bg-white pt-2">
                                    <div class="flex flex-col">
                                    {% for tipo in tipos_ocio %}
                                        <label class="p-1 flex items-center hover:bg-gray-100 rounded-md checkbox-custom w-full">
                                            <input type="checkbox" name="tipo" value="{{ tipo }}" id="{{ tipo }}" class=" cursor-pointer rounded-full appearance-none border-2 border-gray-300 checked:bg-[#bd1e59] checked:border-transparent h-5 w-5">
                                            <span class=" text-md ml-2 cursor-pointer text-black hover:text-gray-500 [text-shadow:_0px_0px_0px_rgb(0_0_0_/_0%)]">{{ tipo }}</span>
                                        </label>
                                    {% endfor %}
                                    </div>
                                </div>
                                <hr class="border border-[#bd1e59] mt-2 mb-2">
                                <button type="button" class="flex justify-between items-center w-full" onclick="showMore(event)">
                                    <span class="text-lg"> Data d'edició </span>
                                    <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                                    </svg>
                                </button> 
                                <div class="dropdown-content hidden bg-white pt-2">
                                    <div class="flex flex-col">
                                        <div class="flex items-center">
                                            <span class="mr-2 [text-shadow:_0px_0px_0px_rgb(0_0_0_/_0%)]">Any máxim</span>
                                            <input type="range" name="maxYearSearch" min="{{ tipos_dataEdicion.1 }}" max="{{ tipos_dataEdicion.0 }}" step="1" value="{{ tipos_dataEdicion.0 }}" class="w-full cursor-pointer flex-grow bg-[#bd1e59] appearance-none h-2 rounded-md thumb:bg-gray-500" oninput="updateMaxYear()">
                                            <span id="maxYear" class="ml-2 [text-shadow:_0px_0px_0px_rgb(0_0_0_/_0%)]">{{ tipos_dataEdicion.0 }}</span>
                                        </div>
                                        <div class="flex items-center">
                                            <span class="mr-2 [text-shadow:_0px_0px_0px_rgb(0_0_0_/_0%)]">Any mínim</span>
                                            <input type="range" name="minYearSearch" min="{{ tipos_dataEdicion.1 }}" max="{{ tipos_dataEdicion.0 }}" step="1" value="{{ tipos_dataEdicion.1 }}" class="w-full cursor-pointer flex-grow bg-[#bd1e59] appearance-none h-2 rounded-md" oninput="updateMinYear()">
                                            <span id="minYear" class="ml-2 [text-shadow:_0px_0px_0px_rgb(0_0_0_/_0%)]">{{ tipos_dataEdicion.1 }}</span>
                                        </div>                        
                                    </div>
                                </div>                                
                                <hr class="border border-[#bd1e59] mt-2 mb-2">
                                <button type="button" class="flex justify-between items-center w-full" onclick="showMore(event)">
                                    <span class="text-lg "> Centre </span>
                                    <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                                    </svg>
                                </button>
                                <div class="dropdown-content hidden bg-white pt-2">
                                    <div class="flex flex-col">
                                    {% for centro in tipos_centros %}
                                        <label class="p-1 flex items-center hover:bg-gray-100 rounded-md checkbox-custom w-full">
                                            <input type="checkbox" name="centro" value="{{ centro.id_centro }}" id="{{ centro.id_centro }}" class=" cursor-pointer rounded-full appearance-none border-2 border-gray-300 checked:bg-[#bd1e59] checked:border-transparent h-5 w-5">
                                            <span class=" text-md ml-2 cursor-pointer text-black hover:text-gray-500 [text-shadow:_0px_0px_0px_rgb(0_0_0_/_0%)]">{{ centro }}</span>
                                        </label>
                                    {% endfor %}
                                    </div>
                                </div>
                                <hr class="border border-[#bd1e59] mt-2 mb-2">
                                <button type="button" class="flex justify-between items-center w-full" onclick="showMore(event)">
                                    <span class="text-lg"> Estat de l'element </span>
                                    <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                                    </svg>
                                </button> 
                                <div class="dropdown-content hidden bg-white pt-2">
                                    <div class="flex flex-col">
                                        {% for estado in estados %}
                                            <label class="p-1 flex items-center hover:bg-gray-100 rounded-md checkbox-custom w-full">
                                                <input type="checkbox" name="estado" value="{{ estado }}" id="{{ estado }}" class=" cursor-pointer rounded-full appearance-none border-2 border-gray-300 checked:bg-[#bd1e59] checked:border-transparent h-5 w-5">
                                                <span class=" text-md ml-2 cursor-pointer text-black hover:text-gray-500 [text-shadow:_0px_0px_0px_rgb(0_0_0_/_0%)]">{{ estado }}</span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>    
                            </div>
                            <hr class="border border-[#bd1e59] mt-2 mb-2">
                            <div class="flex w-full justify-end">
                                <input type="submit" value="Cerca" class="cursor-pointer bg-[#bd1e59] hover:bg-[#f4c095] text-white font-bold py-2 px-4 rounded-xl mt-4">
                            </div>                  
                        </form> <!-- Fin del form -->
                    </div>
                    <!-- Mostrar resultados de la búsqueda -->
                    <div class="search-results w-9/12" id="search-results">
                        {% if resultados %}
                            <ul class="w-auto">
                                {% for libro in resultados %}
                                <article class="p-4 m-8 shadow-lg border rounded-xl">
                                    <li>
                                        <h3 class="mt-4 mb-6 text-3xl font-bold text-[#bd1e59] [text-shadow:_1px_1px_1px_rgb(0_0_0_/_30%)]">{{ libro.titulo }}</h3>
                                        <p><strong>ID de catàleg:</strong> {{ libro.id_catalogo }}</p>
                                        {% if libro.CDU and libro.ISBN%}
                                        <p><strong>ISBN:</strong> {{ libro.ISBN }}</p>
                                        <p><strong>CDU:</strong> {{ libro.CDU }}</p>
                                        {% endif %}
                                        <p><strong>Gènere:</strong> {{ libro.ocio }}</p>
                                        <p><strong>Autor:</strong> {{ libro.autor }}</p>
                                        <p><strong>Data d'edició:</strong> {{ libro.data_edicion }}</p>
                                    </li>
                                    <hr class="border border-[#bd1e59] mt-4 mb-2">
                                    {% if libro.centros %}
                                    <table>
                                        <thead class="[&amp;_tr]:border-b">
                                            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                            <th class="h-12 px-2 text-left align-middle font-medium text-muted-foreground text-sm [&amp;:has([role=checkbox])]:pr-0">
                                                Centre
                                            </th>
                                            <th class="h-12 px-2 text-left align-middle font-medium text-muted-foreground text-sm [&amp;:has([role=checkbox])]:pr-0">
                                                Quantitat disponible
                                            </th>
                                            <th class="h-12 px-2 text-left align-middle font-medium text-muted-foreground text-sm [&amp;:has([role=checkbox])]:pr-0">
                                                Reservats
                                            </th>
                                            <th class="h-12 px-2 text-left align-middle font-medium text-muted-foreground text-sm [&amp;:has([role=checkbox])]:pr-0">
                                                Prestats
                                            </th>
                                            <th class="h-12 px-2 text-left align-middle font-medium text-muted-foreground text-sm [&amp;:has([role=checkbox])]:pr-0">
                                                No disponibles
                                            </th>
                                            </tr>
                                        </thead>
                                        {% if 'nomes_disponible' in request.GET %}
                                        {% for centro in libro.centros %}
                                            
                                            {% if centro.cantidad_disponible > 0 %}
                                                <tbody class="[&amp;_tr:last-child]:border-0 hover:bg-gray-100">
                                                    <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                                        <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm"><strong>{{ centro.nombre_centro }}</strong></td>
                                                        <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm">{{ centro.cantidad_disponible }}</td>
                                                        <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm">{{ centro.reservado }}</td>
                                                        <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm">{{ centro.prestado }}</td>
                                                        <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm">{{ centro.no_disponible }}</td>
                                                    </tr>
                                                </tbody>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for centro in libro.centros %}
                                            <tbody class="[&amp;_tr:last-child]:border-0 hover:bg-gray-100">
                                                <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                                    <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm"><strong>{{ centro.nombre_centro }}</strong></td>
                                                    <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm">{{ centro.cantidad_disponible }}</td>
                                                    <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm">{{ centro.reservado }}</td>
                                                    <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm">{{ centro.prestado }}</td>
                                                    <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm">{{ centro.no_disponible }}</td>
                                                </tr>
                                            </tbody>
                                        {% endfor %}
                                    {% endif %}
                                    

                                        </table>

                                    {% else %}
                                            <p>No hi ha informació de centres disponible.</p>
                                    {% endif %}

                                </article>

                                {% endfor %}
                            </ul>
                            
                            <!-- Mostrar la paginación -->
                            <div class="pagination flex justify-center items-center mt-6">
                                <span class="step-links">
                                    {% if resultados.has_previous %}
                                        <a href="?{% if 'nomes_disponible' in request.GET %}nomes_disponible=on&{% endif %}cerca={{ query }}&page=1" class="rounded-md bg-[#f4c095] hover:bg-gray-200 text-[#bd1e59] font-semibold py-2 px-4 rounded-l">Primera</a>
                                        <a href="?{% if 'nomes_disponible' in request.GET %}nomes_disponible=on&{% endif %}cerca={{ query }}&page={{ resultados.previous_page_number }}" class="rounded-md bg-[#f4c095] hover:bg-gray-200 text-[#bd1e59] font-semibold py-2 px-4">Anterior</a>
                                    {% endif %}
                                    
                                    <span class="current text-[#bd1e59] font-semibold py-2 px-4">
                                        Página {{ resultados.number }} de {{ resultados.paginator.num_pages }}.
                                    </span>
                                    
                                    {% if resultados.has_next %}
                                        <a href="?{% if 'nomes_disponible' in request.GET %}nomes_disponible=on&{% endif %}cerca={{ query }}&page={{ resultados.next_page_number }}" class="rounded-md bg-[#f4c095] hover:bg-gray-200 text-[#bd1e59] font-semibold py-2 px-4">Siguiente</a>
                                        <a href="?{% if 'nomes_disponible' in request.GET %}nomes_disponible=on&{% endif %}cerca={{ query }}&page={{ resultados.paginator.num_pages }}" class="rounded-md bg-[#f4c095] hover:bg-gray-200 text-[#bd1e59] font-semibold py-2 px-4 rounded-r">Última</a>
                                    {% endif %}
                                </span>
                            </div>

                        {% else %}
                            <p>No s'han trobat resultats per: "{{ query }}"</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            if (document.querySelectorAll('.search-results ul li').length === 0) {
                llamadaAjaxLog("CERCA_CATALEG: No ha trobat resultat a la cerca","ERROR");
            }

            function llamadaAjaxLog(evento,nivel){
                $.ajax({
                    url: '/guardar-log/',  // Endpoint para guardar logs en tu backend Django
                    type: 'POST',  // Método POST para enviar los datos al servidor
                    data: {
                        evento: evento,
                        nivel: nivel,  //  (INFO, WARNING, ERROR, FATAL.)
                    },
                    success: function(response) {
                        console.log('Log guardado correctamente:', response);
                    },
                    error: function(error) {
                        console.error('Error al guardar el log:', error);
                    }
                });
            }
        });  


        function showMore(event) {
            event.preventDefault();
            var target = event.target;
        
            // Verificar si el clic se produjo en el botón o en uno de sus hijos (como el span)
            if (target.tagName.toLowerCase() !== 'button') {
                // Obtener el botón padre
                target = target.closest('button');
            }
        
            var dropdownContent = target.nextElementSibling;
        
            if (dropdownContent) {
                if (dropdownContent.style.display === 'block') {
                    dropdownContent.style.display = 'none';
                    // Cambiar el SVG a un ícono de flecha hacia abajo cuando se oculta el contenido
                    target.querySelector('svg').innerHTML = '<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>';
                } else {
                    dropdownContent.style.display = 'block';
                    // Cambiar el SVG a un ícono de flecha hacia arriba cuando se muestra el contenido
                    target.querySelector('svg').innerHTML = '<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/>';
                }
            }
        }        
        
        
        function updateMaxYear() {
            var maxYearInput = document.querySelector('input[name="maxYearSearch"]');
            var maxYearSpan = document.querySelector('#maxYear');
            var minYearInput = document.querySelector('input[name="minYearSearch"]');
            if (parseInt(maxYearInput.value) < parseInt(minYearInput.value)) {
                maxYearInput.value = minYearInput.value;
            }
            maxYearSpan.textContent = maxYearInput.value;
        }
    
        function updateMinYear() {
            var minYearInput = document.querySelector('input[name="minYearSearch"]');
            var minYearSpan = document.querySelector('#minYear');
            var maxYearInput = document.querySelector('input[name="maxYearSearch"]');
            if (parseInt(minYearInput.value) > parseInt(maxYearInput.value)) {
                minYearInput.value = maxYearInput.value;
            }
            minYearSpan.textContent = minYearInput.value;
        }
        
        </script>


</body>
</html>
{% endblock %}