{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados de la búsqueda</title>
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    {% include 'myapp/messages.html' %}
    <div class="container min-w-full">
        {% include 'myapp/header.html'%}
        
        <div>
            <div class="w-full py-2 lg:py-4 md:ml-auto p-12 lg:p-32">
                <h1 class="text-3xl font-bold mt-4 mb-8 pl-8 text-[#bd1e59]">Resultats de la cerca: "{{ query }}"</h1>
        
                <!-- Mostrar resultados de la búsqueda -->
                <div class="search-results" id="search-results">
                    {% if resultados %}
                        <ul>
                            {% for libro in resultados %}
                            <div class="p-4 m-8 shadow-lg border rounded-xl">
                                <li>
                                    <h1 class="mt-4 mb-6 text-3xl font-bold text-[#bd1e59] [text-shadow:_1px_1px_1px_rgb(0_0_0_/_30%)]">{{ libro.titulo }}</h1>
                                    <p><strong>ID de catàleg:</strong> {{ libro.id_catalogo }}</p>
                                    {% if libro.CDU and libro.ISBN%}
                                    <p><strong>ISBN:</strong> {{ libro.ISBN }}</p>
                                    <p><strong>CDU:</strong> {{ libro.CDU }}</p>
                                    {% endif %}
                                    <p><strong>Gènere:</strong> {{ libro.ocio }}</p>
                                    <p><strong>Autor:</strong> {{ libro.autor }}</p>
                                    <p><strong>Data d'edició:</strong> {{ libro.data_edicion }}</p>
                                </li>
                                <hr class="border border-[#bd1e59] mt-4 mb-2">
                                {% if libro.centros %}
                                <table>
                                    <thead class="[&amp;_tr]:border-b">
                                        <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                        <th class="h-12 px-2 text-left align-middle font-medium text-muted-foreground text-sm [&amp;:has([role=checkbox])]:pr-0">
                                            Centre
                                        </th>
                                        <th class="h-12 px-2 text-left align-middle font-medium text-muted-foreground text-sm [&amp;:has([role=checkbox])]:pr-0">
                                            Quantitat disponible
                                        </th>
                                        <th class="h-12 px-2 text-left align-middle font-medium text-muted-foreground text-sm [&amp;:has([role=checkbox])]:pr-0">
                                            Reservats
                                        </th>
                                        <th class="h-12 px-2 text-left align-middle font-medium text-muted-foreground text-sm [&amp;:has([role=checkbox])]:pr-0">
                                            Prestats
                                        </th>
                                        <th class="h-12 px-2 text-left align-middle font-medium text-muted-foreground text-sm [&amp;:has([role=checkbox])]:pr-0">
                                            No disponibles
                                        </th>
                                        </tr>
                                    </thead>
                                    {% for centro in libro.centros %}
                                        <tbody class="[&amp;_tr:last-child]:border-0 hover:bg-gray-100">
                                            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                            <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm"><strong>{{ centro.nombre_centro }}</strong></td>
                                            <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm">{{ centro.cantidad_disponible }}</td>
                                            <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm">{{ centro.reservado}}</td>
                                            <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm">{{ centro.prestado}}</td>
                                            <td class="p-2 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm">{{ centro.no_disponible}}</td>
                                            </tr>
                                        </tbody>
                                    {% endfor %}
                                    </table>

                                {% else %}
                                        <p>No hi ha informació de centres disponible.</p>
                                {% endif %}

                            </div>

                            {% endfor %}
                        </ul>
                        
                        <!-- Mostrar la paginación -->
                        <div class="pagination flex justify-center items-center mt-6">
                            <span class="step-links">
                                {% if resultados.has_previous %}
                                    <a href="?{% if 'nomes_disponible' in request.GET %}nomes_disponible=on&{% endif %}cerca={{ query }}&page=1" class="rounded-md bg-[#f4c095] hover:bg-gray-200 text-[#bd1e59] font-semibold py-2 px-4 rounded-l">Primera</a>
                                    <a href="?{% if 'nomes_disponible' in request.GET %}nomes_disponible=on&{% endif %}cerca={{ query }}&page={{ resultados.previous_page_number }}" class="rounded-md bg-[#f4c095] hover:bg-gray-200 text-[#bd1e59] font-semibold py-2 px-4">Anterior</a>
                                {% endif %}
                                
                                <span class="current bg-rose-600 text-[#bd1e59] font-semibold py-2 px-4">
                                    Página {{ resultados.number }} de {{ resultados.paginator.num_pages }}.
                                </span>
                                
                                {% if resultados.has_next %}
                                    <a href="?{% if 'nomes_disponible' in request.GET %}nomes_disponible=on&{% endif %}cerca={{ query }}&page={{ resultados.next_page_number }}" class="rounded-md bg-[#f4c095] hover:bg-gray-200 text-[#bd1e59] font-semibold py-2 px-4">Siguiente</a>
                                    <a href="?{% if 'nomes_disponible' in request.GET %}nomes_disponible=on&{% endif %}cerca={{ query }}&page={{ resultados.paginator.num_pages }}" class="rounded-md bg-[#f4c095] hover:bg-gray-200 text-[#bd1e59] font-semibold py-2 px-4 rounded-r">Última</a>
                                {% endif %}
                            </span>
                        </div>

                    {% else %}
                        <p>No s'han trobat resultats per: "{{ query }}"</p>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            if (document.querySelectorAll('.search-results ul li').length === 0) {
                llamadaAjaxLog("CERCA_CATALEG: No ha trobat resultat a la cerca","ERROR");
            }

            function llamadaAjaxLog(evento,nivel){
                $.ajax({
                    url: '/guardar-log/',  // Endpoint para guardar logs en tu backend Django
                    type: 'POST',  // Método POST para enviar los datos al servidor
                    data: {
                        evento: evento,
                        nivel: nivel,  //  (INFO, WARNING, ERROR, FATAL.)
                    },
                    success: function(response) {
                        console.log('Log guardado correctamente:', response);
                    },
                    error: function(error) {
                        console.error('Error al guardar el log:', error);
                    }
                });
            }
        });  
    </script>
</body>
</html>
{% endblock %}