<header class="py-4 border-b border-gray-200 bg-[#f4c095] flex justify-between">
  <div class="flex flex-col ml-32 justify-center">
    <h2 class="text-2xl font-bold text-[#bd1e59] text-start flex items-center">
      <a href="{% url 'index' %}">
      Biblioteca Mari Carmen Brito
      </a>
    </h2>
    {% if user.is_authenticated%}
      <p class="text-md text-muted-foreground text-[#bd1e59]">Benvingut/da, {{ user.username }}</p>
    {% endif %}
  </div>
  {% if request.path != '/' and request.path != '/BibliotecaApp/' %}
  <div class="flex items-center">
    <div class="relative">
      <form id="search-form" action="{% url 'cerca_cataleg' %}" method="GET">
        <!--{% csrf_token %}-->
        <div class="relative flex items-center">
          <input id="only-available" name="nomes_disponible" type="checkbox" class="hidden"/>
          <label for="only-available" class="text-sm font-bold text-[#bd1e59]  py-2 flex items-center cursor-pointer">
              <span class="w-4 h-4 border-2  border-[#bd1e59] rounded-sm mr-2 flex-shrink-0"></span>
              Cercar només disponibles
          </label>
        </div>
        <div class="relative">
            <input id="search-input"
                   class="flex h-10 w-full text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 border border-[#bd1e59] rounded-md px-4 py-2 pr-10"
                   placeholder="Cerca ràpida..."
                   type="search"
                   name="cerca"
            />
            <svg id="search-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="absolute right-3 top-1/2 -translate-y-1/2 w-5 h-5 text-[#bd1e59] cursor-pointer">
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
          </svg>
        </div>
    </form>

    </div>
  </div>  
  {% endif %}
  {% if user.is_authenticated %}
  <div class="clickSortir flex items-center space-x-4 mr-52">
    <a
      href="{% url 'logout' %}"
      class="text-[#bd1e59] border-b-2 border-transparent font-bold hover:border-[#bd1e59] transition-colors text-xl"
      >Tancar sessió</a
    >
  </div>
  {% endif %}
</header>

