<header class="py-4 border-b border-gray-200 bg-[#f4c095] flex justify-between">
  <h2 class="text-xl font-bold text-[#bd1e59] text-start pl-32">
    <a href="{% url 'index' %}">
    Biblioteca MariCarmen
    </a>
  </h2>
  {% if user.is_authenticated %}
  <div class="clickSortir flex items-center space-x-4 pr-32">
    <a
      href="{% url 'logout' %}"
      class="text-[#bd1e59] border-b-2 border-transparent hover:border-[#bd1e59] transition-colors text-xl"
      >Sortir</a
    >
  </div>
  {% endif %}
</header>
