<header class="py-4 border-b border-gray-200 bg-[#f4c095] flex justify-between">
  <div class="flex flex-col ml-32 justify-center">
    <h2 class="text-2xl font-bold text-[#bd1e59] text-start flex items-center">
      <a href="{% url 'index' %}">
      Biblioteca Mari Carmen Brito
      </a>
    </h2>
    {% if user.is_authenticated%}
      <p class="text-md text-muted-foreground text-[#bd1e59]">Benvingut/da, {{ user.username }}</p>
    {% endif %}
  </div>
  {% if request.path != '/' and request.path != '/BibliotecaApp/' %}
  <div class="flex items-center">
    <div class="relative">
      <form id="search-form" action="{% url 'cerca_cataleg' %}" method="GET">
        <!--{% csrf_token %}-->
        <div class="relative flex items-center">
          <input id="only-available" name="nomes_disponible" type="checkbox" class="hidden"/>
          <label for="only-available" class="text-sm font-bold text-[#bd1e59]  py-2 flex items-center cursor-pointer">
              <span class="w-4 h-4 border-2  border-[#bd1e59] rounded-sm mr-2 flex-shrink-0"></span>
              Cercar només disponibles
          </label>
        </div>
        <div class="relative">
            <input id="search-input"
                   class="flex h-10 w-full text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 border border-[#bd1e59] rounded-md px-4 py-2 pr-10"
                   placeholder="Cerca ràpida..."
                   type="search"
                   name="cerca"
            />
            <svg id="search-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="absolute right-3 top-1/2 -translate-y-1/2 w-5 h-5 text-[#bd1e59] cursor-pointer">
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
          </svg>
        </div>
    </form>

    </div>
  </div>  
  <div class="w-full md mt-8 md:mt-0 lg:px-15">
            <!-- Aquí se mostrarán los resultados del autocompletado -->
            <div id="autocompleteResults" class=" top-full rounded-lg border bg-card text-card-foreground shadow-sm mt-1 inline-block w-auto" data-v0-t="card">
            </div>
        </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const input = document.getElementById('search-input');
  
  
      if (input) {
          
          input.addEventListener('input', function() {
              const query = input.value;
  
              if (query.length >= 3) {
                  fetch(`/get_ItemCatalogo?search=${query}`)
                      .then(response => response.json())
                      .then(data => {
                        console.log(data);
                        mostrarSugerencias(data.ItemCatalogo);
                      })
                      .catch(error => {
                          console.error('Error al obtener sugerencias:', error);
                      });
              } else {
                  const suggestionsList = document.getElementById('autocompleteResults');
  
                  // Limpiar la lista de sugerencias si la consulta es menor a 3 caracteres
                  suggestionsList.innerHTML = '';
              }
          });
      }
  
      function mostrarSugerencias(sugerencias) {
        const suggestionsList = document.getElementById('autocompleteResults');
        suggestionsList.innerHTML = '';
        sugerencias.slice(0, 5).forEach(item => { // Mostrar solo las primeras 5 sugerencias
          const p = document.createElement('p');
          p.textContent = item.titulo;
          p.classList.add('px-4', 'py-2', 'font-bold', 'id_ItemCatalogo');
          p.setAttribute('data-id', item.id);
          p.addEventListener('click', function(event) {
            // Al hacer clic en la sugerencia, cambiar el valor del campo de entrada al texto de la sugerencia
            input.value = item.titulo;
            // Evitar el envío del formulario al hacer clic en una sugerencia
            event.preventDefault();
          });
          suggestionsList.appendChild(p);
        });
      }
  
  
  
  
      // Obtener el formulario y el campo de entrada
      const form = document.getElementById('search-form');
      const input2 = document.getElementById('search-input');
      const searchIcon = document.getElementById('search-icon');
  
      searchIcon.addEventListener('click', function() {
  
          // Verificar si el campo de entrada está vacío
          if (input2.value.trim() !== '') {
              // Enviar el formulario solo si hay algo escrito en el campo de entrada
              form.submit();
          }
      });
  
      // Agregar un evento de escucha para la tecla Enter en el campo de entrada
      input2.addEventListener('keypress', function(event) {
  
          // Verificar si la tecla presionada es Enter (código 13)
          if (event.key === 'Enter') {
              // Cancelar el comportamiento predeterminado del formulario para evitar que se envíe automáticamente
              event.preventDefault();
              // Verificar si el campo de entrada está vacío
              if (input2.value.trim() !== '') {
  
                  // Enviar el formulario solo si hay algo escrito en el campo de entrada
                  form.submit();
              }
          }
      });
  
      
  
  });
  
    </script>
  {% endif %}
  {% if user.is_authenticated %}
  <div class="clickSortir flex items-center space-x-4 mr-52">
    <a
      href="{% url 'logout' %}"
      class="text-[#bd1e59] border-b-2 border-transparent font-bold hover:border-[#bd1e59] transition-colors text-xl"
      >Tancar sessió</a
    >
  </div>
  {% endif %}
</header>

