{% block content %} {% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Biblioteca IETI</title>
    <meta charset="UTF-8" />
    <meta name="title" content="Los videojuegos de 2020" />
    <meta name="description" content="Descripción de la WEB" />
    <link rel="stylesheet" href="{% static 'output.css' %}" />
    <link rel="stylesheet" href="{% static 'input.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    {% include 'myapp/messages.html' %}
    <div class="container min-w-full">
      {% include 'myapp/header.html'%}
      <div
        class="flex flex-col lg:flex-row items-center lg:my-24 px-8 lg:px-12 xl:px-32"
      >
        <div class="w-full md:w-1/2 pr-4 py-4">
          <h1 class="text-4xl font-bold leading-tight text-[#bd1e59]">
            Bibilioteca MariCarmen, el teu viatge cap al coneixement.
          </h1>
          <p class="mt-4 mb-8 text-lg text-[#bd1e59]">
            Descubreix i troba llibres de tot el món.
          </p>
          <div class="flex items-center">
            <div class="relative">
              <form id="search-form" action="{% url 'cerca_cataleg' %}" method="POST">
                {% csrf_token %}
                <div class="relative flex items-center">
                  <input id="only-available" name="only_available" type="checkbox" class="hidden"/>
                  <label for="only-available" class="text-sm text-[#bd1e59] py-2 flex items-center cursor-pointer">
                      <span class="w-4 h-4 border border-[#bd1e59] rounded-sm mr-2 flex-shrink-0"></span>
                      Cercar només disponibles
                  </label>
                </div>
                <div class="relative">
                    <input id="search-input"
                           class="flex h-10 w-full text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 border border-[#bd1e59] rounded-md px-4 py-2 pr-10"
                           placeholder="Cerca ràpida..."
                           type="search"
                           name="query"
                    />
                    <svg id="search-icon"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="absolute right-3 top-1/2 -translate-y-1/2 w-5 h-5 text-[#bd1e59] cursor-pointer">
                      <circle cx="11" cy="11" r="8"></circle>
                      <path d="m21 21-4.3-4.3"></path>
                  </svg>
                </div>
            </form>

            </div>
          </div>
          <div class="w-full md mt-8 md:mt-0 lg:px-15">
            <!-- Aquí se mostrarán los resultados del autocompletado -->
            <div id="autocompleteResults" class=" top-full rounded-lg border bg-card text-card-foreground shadow-sm mt-1 inline-block w-auto" data-v0-t="card">
            </div>
        </div>
        
          
        </div>
        
        <div class="w-full md:w-1/2 mt-8 md:mt-0 lg:px-24 py-24 lg:py-2">
          {% if user.is_authenticated %}
          <div class="rounded-lg border bg-card text-card-foreground shadow-sm max-w-sm"> <!-- Agrega la clase max-w-sm para limitar el ancho -->
            <div class="flex flex-col space-y-1.5 p-6">
              <h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight text-[#bd1e59] overflow-hidden overflow-ellipsis"> <!-- Aplica estos estilos al texto del mensaje de bienvenida -->
                Benvingut/da, {{ user.email }}
              </h3>
              <p class="text-sm text-[#bd1e59] py-2">
                Benvingut/da a la Biblioteca IETI. Aquí podràs trobar tots els
                llibres que necessitis.
              </p>
              <div class="flex items-center py-2 verPerfil">
                <a
                  href="{% url 'dashboard'%}"
                  class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 px-4 py-2 w-full bg-[#bd1e59] text-white hover:bg-[#f4c095]"
                  >Veure el teu perfil
                </a>
              </div>
            </div>
          </div>

          {% else %}
          <div
            class="rounded-lg border bg-card text-card-foreground shadow-sm"
            data-v0-t="card"
          >
            <div class="flex flex-col space-y-1.5 p-6">
              <h3
                class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight text-[#bd1e59]"
              >
                Iniciar sessió
              </h3>
              <p class="text-sm text-[#bd1e59]">
                Introduïu les vostres credencials per accedir al vostre compte.
              </p>
            </div>
            <div class="p-6">
              <form action="" method="POST">
                {% csrf_token %}
                <div class="grid gap-4">
                  <div>
                    <label
                      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#bd1e59]"
                      for="email"
                    >
                      Email
                    </label>
                    <input
                      class="flex h-10 w-full bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 border border-[#bd1e59] rounded-md"
                      id="email"
                      placeholder="elteu@email.com"
                      type="email"
                      name="email"
                      required
                    />
                  </div>
                  <div>
                    <label
                      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#bd1e59]"
                      for="password"
                    >
                      Contrasenya
                    </label>
                    <input
                      class="flex h-10 w-full bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 border border-[#bd1e59] rounded-md"
                      id="password"
                      placeholder="Contrasenya"
                      type="password"
                      name="password"
                      required
                    />
                  </div>
                </div>
                <div class="flex items-center py-2 OlvidarPass">
                  <a
                    href="{% url 'recuperar_contrasenya' %}"
                    class="text-gray-500 hover:text-[#bd1e59] transition-colors text-sm font-medium border-b-2 border-transparent hover:border-[#bd1e59]"
                    >Has oblidat la contrasenya? Recupéra-la.
                  </a>
                </div>
                <div class="flex items-center py-2">
                  <input
                    type="submit"
                    value="Entrar"
                    class="clickEntra inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 px-4 py-2 w-full bg-[#bd1e59] text-white hover:bg-[#f4c095]"
                  />
                </div>
              </form>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <script>
  document.addEventListener('DOMContentLoaded', function() {
    const input = document.getElementById('search-input');


    if (input) {
        
        input.addEventListener('input', function() {
            const query = input.value;

            if (query.length >= 3) {
                fetch(`/get_ItemCatalogo?search=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        mostrarSugerencias(data.ItemCatalogo);
                    })
                    .catch(error => {
                        console.error('Error al obtener sugerencias:', error);
                    });
            } else {
                const suggestionsList = document.getElementById('autocompleteResults');

                // Limpiar la lista de sugerencias si la consulta es menor a 3 caracteres
                suggestionsList.innerHTML = '';
            }
        });
    }

    function mostrarSugerencias(sugerencias) {
      const suggestionsList = document.getElementById('autocompleteResults');
      suggestionsList.innerHTML = '';
      sugerencias.slice(0, 5).forEach(item => { // Mostrar solo las primeras 5 sugerencias
        const p = document.createElement('p');
        p.textContent = item.titulo;
        p.classList.add('px-4', 'py-2', 'font-bold', 'id_ItemCatalogo');
        p.setAttribute('data-id', item.id);
        p.addEventListener('click', function(event) {
          // Al hacer clic en la sugerencia, cambiar el valor del campo de entrada al texto de la sugerencia
          input.value = item.titulo;
          // Evitar el envío del formulario al hacer clic en una sugerencia
          event.preventDefault();
        });
        suggestionsList.appendChild(p);
      });
    }




    // Obtener el formulario y el campo de entrada
    const form = document.getElementById('search-form');
    const input2 = document.getElementById('search-input');
    const searchIcon = document.getElementById('search-icon');

    searchIcon.addEventListener('click', function() {

        // Verificar si el campo de entrada está vacío
        if (input2.value.trim() !== '') {
            llamadaAjaxLog("LANDIGPAGE: S'ha fet una cerca","INFO");

            // Enviar el formulario solo si hay algo escrito en el campo de entrada
            form.submit();
        }
    });

    // Agregar un evento de escucha para la tecla Enter en el campo de entrada
    input2.addEventListener('keypress', function(event) {

        // Verificar si la tecla presionada es Enter (código 13)
        if (event.key === 'Enter') {
            // Cancelar el comportamiento predeterminado del formulario para evitar que se envíe automáticamente
            event.preventDefault();
            // Verificar si el campo de entrada está vacío
            if (input2.value.trim() !== '') {
                llamadaAjaxLog("LANDIGPAGE: S'ha fet una cerca","INFO");

                // Enviar el formulario solo si hay algo escrito en el campo de entrada
                form.submit();
            }
        }
    });

    $('.verPerfil').click(function() {
        llamadaAjaxLog("LANDIGPAGE: a donat click a 'Veure el teu perfil'","INFO");
    });
    $('.OlvidarPass').click(function() {
        llamadaAjaxLog("LANDIGPAGE: a donat click a 'Has oblidat la contrasenya? Recupéra-la.'","INFO");
    });
    $('.clickEntra').click(function() {
        llamadaAjaxLog("LANDIGPAGE: a donat click a 'Entrar (Iniciar Sessió)'","INFO");
    });
    $('.clickSortir').click(function() {
        llamadaAjaxLog("LANDIGPAGE: a donat click a 'Sortir (Tencar Sessió)'","INFO");
    });
    function llamadaAjaxLog(evento,nivel){
        $.ajax({
          url: '/guardar-log/',  // Endpoint para guardar logs en tu backend Django
          type: 'POST',  // Método POST para enviar los datos al servidor
          data: {
              evento: evento,
              nivel: nivel,  //  (INFO, WARNING, ERROR, FATAL.)
          },
          success: function(response) {
              console.log('Log guardado correctamente:', response);
          },
          error: function(error) {
              console.error('Error al guardar el log:', error);
          }
        });
      }
});

  </script>
  </body>
</html>

{% endblock %}
