{% block content %} {% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Canviar contrasenya | Biblioteca IETI</title>
    <meta charset="UTF-8" />
    <meta name="title" content="Los videojuegos de 2020" />
    <meta name="description" content="Descripción de la WEB" />
    <link rel="stylesheet" href="{% static 'output.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    {% include 'myapp/messages.html' %}
    <div class="container min-w-full">
      {% include 'myapp/header.html'%}

        <h1 class="text-2xl font-bold text-[#bd1e59] text-start pl-32">
          <a href="{% url 'index' %}">
          Biblioteca IETI
          </a>
        </h1>
        {% if user.is_authenticated %}
        <div class="clickSortir flex items-center space-x-4 pr-32">
          <a
            href="{% url 'logout' %}"
            class="text-[#bd1e59] border-b-2 border-transparent hover:border-[#bd1e59] transition-colors text-xl"
            >Sortir</a
          >
        </div>
        {% endif %}
      </header>
      <div
        class="flex flex-col-reverse lg:flex-row items-center my-24 px-12 lg:px-32 justify-center"
      >
        <div class="w-full md:w-1/2 mt-8 md:mt-0 lg:px-24">
          {% if user.is_authenticated %}
          <div
            class="rounded-lg border bg-card text-card-foreground shadow-sm"
            data-v0-t="card"
          >
            <div class="flex flex-col space-y-1.5 p-6">
              <h3
                class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight text-[#bd1e59]"
              >
                Canviar contrasenya
              </h3>
              <p class="text-sm text-[#bd1e59]">
                Canvia la teva contrasenya per una de nova.
              </p>
            </div>
            <div class="p-6">
              <form action="{% url 'canviar_contrasenya' %}" method="POST">
                {% csrf_token %}
                <div class="grid gap-4">
                  <div>
                    <label
                      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#bd1e59]"
                      for="old_password"
                    >
                      Contrasenya actual
                    </label>
                    <input
                      class="flex h-10 w-full bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 border border-[#bd1e59] rounded-md"
                      id="old_password"
                      placeholder="Contrasenya actual"
                      type="password"
                      name="old_password"
                      required
                    />
                  </div>
                  <div>
                    <label
                      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#bd1e59]"
                      for="new_password1"
                    >
                      Nova contrasenya
                    </label>
                    <input
                      class="flex h-10 w-full bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 border border-[#bd1e59] rounded-md"
                      id="new_password1"
                      placeholder="Nova contrasenya"
                      type="password"
                      name="new_password1"
                      required
                    />
                  </div>
                  <div>
                    <label
                      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#bd1e59]"
                      for="new_password2"
                    >
                      Repeteix la nova contrasenya
                    </label>
                    <input
                      class="flex h-10 w-full bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 border border-[#bd1e59] rounded-md"
                      id="new_password2"
                      placeholder="Repeteix la nova contrasenya"
                      type="password"
                      name="new_password2"
                      required
                    />
                  </div>
                </div>
                <div class="flex items-center py-8" style="margin-top:20px;">
                  <input
                    type="submit"
                    value="Canviar"
                    class="canviarPassOkk inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 px-4 py-2 w-full bg-[#bd1e59] text-white hover:bg-[#f4c095] hover:cursor-pointer"
                  />
                </div>
              </form>
            </div>
          </div>
            {% else %}

          {% endif %}
        </div>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        $('.clickSortir').click(function() {
        llamadaAjaxLog("CANVIAR_CONTRASENYA: a donat click a 'Sortir (Tencar Sessió)'","INFO");
        });
        $('.canviarPassOkk').click(function() {
            llamadaAjaxLog("CANVIAR_CONTRASENYA:  a donat click a 'Canviar'","INFO");
        });
        function llamadaAjaxLog(evento,nivel){
            $.ajax({
              url: 'http://127.0.0.1:8000/guardar-log/',  // Endpoint para guardar logs en tu backend Django
              type: 'POST',  // Método POST para enviar los datos al servidor
              data: {
                  evento: evento,
                  nivel: nivel,  //  (INFO, WARNING, ERROR, FATAL.)
              },
              success: function(response) {
                  console.log('Log guardado correctamente:', response);
              },
              error: function(error) {
                  console.error('Error al guardar el log:', error);
              }
            });
          }
        });  
        </script>
  </body>
</html>

{% endblock %}
