{% block content %} {% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Canviar contrasenya | Biblioteca Mari Carmen Brito</title>
    <meta charset="UTF-8" />
    <meta name="title" content="Los videojuegos de 2020" />
    <meta name="description" content="Descripción de la WEB" />
    <link rel="stylesheet" href="{% static 'output.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    {% include 'myapp/messages.html' %}
    <div class="container min-w-full">
      {% include 'myapp/header.html'%}
      <div
        class="flex flex-col-reverse lg:flex-row items-center my-24 px-12 lg:px-32 justify-center"
      >
        <div class="w-full md:w-1/2 mt-8 md:mt-0 lg:px-24">
          {% if user.is_authenticated %}
          <div
            class="rounded-lg border bg-card text-card-foreground shadow-sm"
            data-v0-t="card"
          >
            <div class="flex flex-col space-y-1.5 p-6">
              <h3
                class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight text-[#bd1e59]"
              >
                Canviar contrasenya
              </h3>
              <p class="text-sm text-[#bd1e59]">
                Canvia la teva contrasenya per una de nova.
              </p>
            </div>
            <div class="p-6">
              <form action="{% url 'canviar_contrasenya' %}" method="POST">
                {% csrf_token %}
                <div class="grid gap-4">
                  <input type="hidden" name="id" value="{{ user.id }}"/>
                  <div>
                    <label
                      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#bd1e59]"
                      for="old_password"
                    >
                      Contrasenya actual
                    </label>
                    <input
                      class="flex h-10 w-full bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 border border-[#bd1e59] rounded-md"
                      id="old_password"
                      placeholder="Contrasenya actual"
                      type="password"
                      name="old_password"
                      required
                    />
                  </div>
                  <div>
                    <label
                      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#bd1e59]"
                      for="new_password1"
                    >
                      Nova contrasenya
                    </label>
                    <input
                      class="flex h-10 w-full bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 border border-[#bd1e59] rounded-md"
                      id="new_password1"
                      placeholder="Nova contrasenya"
                      type="password"
                      name="new_password1"
                      required
                    />
                    <div id="new-password1-validation-message" class="text-sm text-[#bd1e59]"></div>
                  </div>
                  <div>
                    <label
                      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#bd1e59]"
                      for="new_password2"
                    >
                      Repeteix la nova contrasenya
                    </label>
                    <input
                      class="flex h-10 w-full bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 border border-[#bd1e59] rounded-md"
                      id="new_password2"
                      placeholder="Repeteix la nova contrasenya"
                      type="password"
                      name="new_password2"
                      required
                    />
                    <div id="new-password2-validation-message" class="text-sm text-[#bd1e59]"></div>
                  </div>
                </div>
                <input type="hidden" id="has_password_changed" name="has_password_changed" value="True"/>
                <div class="flex items-center py-8" style="margin-top:20px;">
                  <input
                    id="submitBtn"
                    type="submit"
                    value="Canviar"
                    class="canviarPassOkk inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 px-4 py-2 w-full bg-[#bd1e59] text-white hover:bg-[#f4c095] hover:cursor-pointer"
                  />
                </div>
              </form>
            </div>
          </div>
            {% else %}

          {% endif %}
        </div>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        $('.clickSortir').click(function() {
        llamadaAjaxLog("CANVIAR_CONTRASENYA: a donat click a 'Sortir (Tencar Sessió)'","INFO");
        });
        $('.canviarPassOkk').click(function() {
            llamadaAjaxLog("CANVIAR_CONTRASENYA:  a donat click a 'Canviar'","INFO");
        });
        function llamadaAjaxLog(evento,nivel){
            $.ajax({
              url: '/guardar-log/',  // Endpoint para guardar logs en tu backend Django
              type: 'POST',  // Método POST para enviar los datos al servidor
              data: {
                  evento: evento,
                  nivel: nivel,  //  (INFO, WARNING, ERROR, FATAL.)
              },
              success: function(response) {
                  console.log('Log guardado correctamente:', response);
              },
              error: function(error) {
                  console.error('Error al guardar el log:', error);
              }
            });
          }

          // VALIDACION DE CONTRASEÑA
          const new_password1Input = document.getElementById('new_password1');
          const new_password2Input = document.getElementById('new_password2');
          const newPassword1ValidationMessage = document.getElementById('new-password1-validation-message');
          const newPassword2ValidationMessage = document.getElementById('new-password2-validation-message');

          const validationRules = [
            { regex: /^.{8,16}$/, message: 'La contrasenya ha de tenir entre 8 i 16 caràcters. ' },
            { regex: /[A-Z]/, message: 'La contrasenya ha de contenir almenys una lletra majúscula. ' },
            { regex: /[a-z]/, message: 'La contrasenya ha de contenir almenys una lletra minúscula. ' },
            { regex: /[0-9]/, message: 'La contrasenya ha de contenir almenys un número. ' },
            { regex: /[^A-Za-z0-9]/, message: 'La contrasenya ha de contenir almenys un símbol. ' }
          ];

          // Función para validar una contraseña y mostrar el mensaje de error correspondiente
          function validatePassword(passwordInput, validationMessageElement) {
              const password = passwordInput.value;
              let errorMessage = '';
              
              // Encontrar el primer error de validación
              for (let i = 0; i < validationRules.length; i++) {
                  const rule = validationRules[i];
                  if (!rule.regex.test(password)) {
                      errorMessage = rule.message;
                      break;
                  }
              }

              // Mostrar el mensaje de error encontrado, o vacío si no hay errores
              validationMessageElement.textContent = errorMessage;

              // Devolver true si no hay errores, false de lo contrario
              return errorMessage === '';
          }

          // Función para validar si las contraseñas coinciden
          function validatePasswordMatch(password1Input, password2Input, validationMessageElement) {
              const password1 = password1Input.value;
              const password2 = password2Input.value;
              let errorMessage = '';

              if (password1 !== password2) {
                  errorMessage = 'Les contrasenyes no coincideixen.';
              }

              // Mostrar el mensaje de error encontrado, o vacío si no hay errores
              validationMessageElement.textContent = errorMessage;

              // Devolver true si no hay errores, false de lo contrario
              return errorMessage === '';
          }

          // Agregar un evento de escucha para la entrada en el campo de "Nova contrasenya"
          new_password1Input.addEventListener('input', function() {
              // Validar la "Nova contrasenya" y mostrar el mensaje de error en el div correspondiente
              const newPasswordIsValid = validatePassword(new_password1Input, newPassword1ValidationMessage);
              const passwordsMatch = validatePasswordMatch(new_password1Input, new_password2Input, newPassword2ValidationMessage);

              // Deshabilitar temporalmente el formulario si hay un mensaje de error en alguno de los campos de contraseña
              const isFormDisabled = !newPasswordIsValid || !passwordsMatch || new_password2Input.value.trim() === '';
              const form = document.getElementById('search-form');
              form.disabled = isFormDisabled;
          });

          // Agregar un evento de escucha para la entrada en el campo de "Repeteix la nova contrasenya"
          new_password2Input.addEventListener('input', function() {
              // Validar la "Repeteix la nova contrasenya" y mostrar el mensaje de error en el div correspondiente
              const newPasswordIsValid = validatePassword(new_password1Input, newPassword1ValidationMessage);
              const passwordsMatch = validatePasswordMatch(new_password1Input, new_password2Input, newPassword2ValidationMessage);

              // Deshabilitar temporalmente el formulario si hay un mensaje de error en alguno de los campos de contraseña
              const isFormDisabled = !newPasswordIsValid || !passwordsMatch || new_password2Input.value.trim() === '';
              const form = document.getElementById('search-form');
              form.disabled = isFormDisabled;
          });
          // FIN DE LA VALIDACION



        });  
        </script>
  </body>
</html>

{% endblock %}
