{% block content %} {% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Canviar contrasenya | Biblioteca IETI</title>
    <meta charset="UTF-8" />
    <meta name="title" content="Los videojuegos de 2020" />
    <meta name="description" content="Descripción de la WEB" />
    <link rel="stylesheet" href="{% static 'output.css' %}" />
  </head>
  <body>
    <div class="container min-w-full">
      <header
        class="py-4 border-b border-gray-200 bg-[#f4c095] flex justify-between"
      >
        <h1 class="text-2xl font-bold text-[#bd1e59] text-start pl-32">
          <a href="{% url 'index' %}">
          Biblioteca IETI
          </a>
        </h1>
        {% if user.is_authenticated %}
        <div class="flex items-center space-x-4 pr-32">
          <a
            href="{% url 'logout' %}"
            class="text-[#bd1e59] border-b-2 border-transparent hover:border-[#bd1e59] transition-colors text-xl"
            >Sortir</a
          >
        </div>
        {% endif %}
      </header>
      <div class="flex flex-col-reverse lg:flex-row items-center my-24 px-12 lg:px-32 justify-center">
        <div class="w-full md:w-1/2 mt-8 md:mt-0 lg:px-24">
          <div class="rounded-lg border bg-card text-card-foreground shadow-sm" data-v0-t="card">
            <div class="flex flex-col space-y-1.5 p-6">
              <h3
                class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight text-[#bd1e59]"
              >
                Correu electrònic enviat
              </h3>
              <p class="text-sm text-[#bd1e59]">
                T'hem enviat un correu electrònic amb un enllaç per a que puguis canviar la teva contrasenya. Si no el veus a la safata d'entrada, revisa la safata de correu brossa.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
