@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

.alert-success {
    background-color: rgb(223, 240, 216);
    color: rgb(0, 100, 0);
    border: 1px solid rgb(0, 100, 0);
}

.button-success {
    background-color: rgb(223, 240, 216);
    color: rgb(0, 100, 0);
}

.alert-error {
    background-color: rgb(242, 222, 222);
    color: rgb(185, 74, 72);
    border: 1px solid rgb(185, 74, 72);
}

.button-error {
    background-color: rgb(242, 222, 222);
    color: rgb(185, 74, 72);
}

.alert-warning {
    background-color: rgb(255, 236, 209);
    color: rgb(215, 148, 24);
    border: 1px solid rgb(215, 148, 24);
}

.button-warning {
    background-color: rgb(255, 236, 209);
    color: rgb(215, 148, 24);
}

.alert-info {
    background-color: rgb(217, 237, 247);
    color: rgb(13, 103, 118);
    border: 1px solid rgb(13, 103, 118);
}

.button-info {
    background-color: rgb(217, 237, 247);
    color: rgb(13, 103, 118);
}

.alert-debug {
    background-color: rgb(248, 249, 250);
    color: rgb(33, 37, 41);
    border: 1px solid rgb(33, 37, 41);
}

.button-debug {
    background-color: rgb(248, 249, 250);
    color: rgb(33, 37, 41);
}


@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        min-height: 3.75rem;
        visibility: visible;
    }
    100% {
        opacity: 0;
        min-height: 2.5rem;
        display: none;
    }
}

.hide {
    visibility: hidden;
    animation: fadeOutAnimation ease-in-out 0.25s forwards;
}

#only-available:checked + label span::after {
    content: 'X';
    display: block;
    position: absolute;
    top: 72%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 1px;
}

.checkbox-custom input:checked::after {
    content: '\2717'; /* Código unicode para el tick */
    display: inline-block;
    font-size: 1.2rem; /* Tamaño del tick */
    line-height: 1.2rem; /* Altura de línea */
    margin-bottom: 0.5rem; /* Margen inferior */
    vertical-align: middle; /* Alineación vertical */
    color: #fff; /* Color del tick */
}

.filter-search::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
    border-radius: 4px; /* Radio del borde del scrollbar */
  }

  .filter-search::-webkit-scrollbar-thumb {
    background-color: #6b7280; /* Color del thumb del scrollbar */
    border-radius: 4px; /* Radio del borde del thumb */
  }

  .filter-search::-webkit-scrollbar-thumb:hover {
    background-color: #4b5563; /* Color del thumb del scrollbar al pasar el ratón */
  }

  .filter-search::-webkit-scrollbar-track {
    background-color: #d1d5db; /* Color del track del scrollbar */
    border-radius: 4px; /* Radio del borde del track */
  }

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(255, 90, 151) !important;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(255, 90, 151) !important;}

input[type="range"]::-ms-thumb {
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(255, 90, 151) !important;
}